src/spark-scripts/parquet
src/spark-scripts/tmp
src/client/app/velozefClient/velozefClient/__pycache__
src/client/app/velozefClient/visuals/__pycache__
src/client/app/velozefClient/visuals/templatetags/__pycache__
src/client/app/velozefClient/db.sqlite3
archive

